# Turn on the rewriting engine
RewriteEngine On    

# Change the URI - Note ton Abertay the first line is not needed
# RewriteRule ^employees/?$ RESTQuestions.php [NC,L]
RewriteRule ^RESTQuestions.php/([0-9]+)?$ RESTQuestions.php?id=$1 [NC,L]